.root {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: white ;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5rem;
  color: black;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0.125rem;
  border-width: 1px;
  border-color: transparent;
}

.root:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.root[data-active] {
  border-color: black;
}

.loading {
  cursor: not-allowed;
}

.slim {
  transform: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: none;
}

.disabled,
.disabled:hover {
  cursor: not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
